* {
  font-family: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: url('../images/verbatrix-5-mini.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 47%;
}
header > .project-title {
  padding-top: 150px;
  color: #fff;
}

header > .project-title > h5 {
  color: #ddd;
  margin: 0;
  padding: 0;
}

header nav{
  overflow: hidden;
}

header nav ul{
  overflow: hidden;
  margin: 0 auto;
  width: 180px;
  padding: 0;
  background-color: rgb(221, 221, 221, 0.4);
}

header nav ul li{
  list-style-type: none;
  float:left;
  padding: 10px 20px;
}

header nav ul li a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header nav ul li.active a{
  font-weight: bold;
}

.exhibition-description {
  text-align: center;
}

.exhibition-description li {
  list-style-type: none;
}

.location-map {
  height: 300px;
  overflow: hidden;
}

.gallery {
  margin-top: 20px;
  text-align: center;
}

footer {
  height: 50px;
  background-color: red;
  color: #fff;
}

footer .copyright {
  padding: 15px 20px;
}

.about_image{
  float: left;
}

.about_page{
  margin-top: 10px;
}

.about_image img{
  width: 500px;
}

.about_content{
  overflow: hidden;
  padding: 0 25px;
}

.about_content a{
  color: #000;
}

.cv_link{
  color: #000;
}
